<h1 class="nombre-form">Actualizar Perfil</h1>
<div class="container-form">
    <form class="formulario" action="/perfiles/update/<%= perfil.idPerfil %>?_method=PUT" method="POST">
        <fieldset>
            <div class="container-label">
                <label for="descripcion">Descripción:</label>
                <input type="text" id="descripcion" name="descripcion" value="<%= perfil.descripcion %>" required>
            </div>

            <div class="container-label">
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" name="telefono" value="<%= perfil.telefono %>" required>
            </div>
        </fieldset>

        <button type="submit">Actualizar Perfil</button>
            
    </form>
</div>