<%- include('../partials/_header'); %>

<h1>Crear Perfil</h1>
    <form action="/perfiles/create" method="POST">
        <label for="descripcion">Descripción:</label>
        <input type="text" id="descripcion" name="descripcion" required>
        <br>

        <label for="valoracionPromedio">Valoración Promedio:</label>
        <input type="number" step="0.1" id="valoracionPromedio" name="valoracionPromedio" required>
        <br>

        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" required>
        <br>

        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
        <br>

        <!-- Campo oculto para el ID del usuario -->
        <input type="hidden" name="usuarioId" value="<%= usuarioId %>"> <!-- Aquí se pasa el ID del usuario -->

        <button type="submit">Crear Perfil</button>
    </form>

<%- include('../partials/_footer'); %>
