<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <footer> 
        <div class="cp">
            <div>
                <p class="texto-footer">CopyRight</p>
                <img src="img/icono-cp.png">
            </div>
            <p class="direccion">Av. Caseros 3039, Piso 2, CP 1264, Parque Patricios, CABA</p>
        </div>

        <div>
            <a href="#">
                <p class="texto-footer">Atención al cliente</p>
                <img src="img\icono-wsp.png" >
            </a>
        </div>
       
        <div class="redes">
            <p class="texto-footer">Nuestras redes sociales </p>
            <a href="#">
                <img src="img/icono-ig.png">
            </a>
            <a href="#">
                <img src="img/icono-fb.png">
            </a>
            
        </div>
    </footer>
</body>
</html>