<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Gestión de Posts</title>
</head>
<body>
    <header>
        <div class="header-left">
            <a href="/" class="">Grupo 9 Desarrollo de Software UTN 2024</a>
        </div>

        <div>
            <a href="/posts/create" class="">Crear Post</a>
        </div>
    </header>