<%- include('../partials/_header'); %>
<main>
    <div class="container-principal">
        <div class="container-nombre-form">
            <h1 class="nombre-form">
                <span class="arriba">Nuevo</span>
                <span class="abajo">Post</span>
            </h1>
        </div>
        <div class="container-form">

            <form class="formulario" action="/posts/create" method="POST" enctype="multipart/form-data">

                    <div class="container-label">
                        <label for="descripcion">Descripción:</label>
                        <textarea name="descripcion" id="descripcion"></textarea>
                    </div>
                
                    <div class="container-label">
                        <section id="multi-selector-uniq">
                            <label for="foto">Adjuntar Imagen</label>
                            <input id="foto" type="file" name="foto" accept=".jpg, .jpeg, .png, webp" multiple>
                            <ul id="preview"></ul>
                        </section>
                    </div>
                    <!-- Script para mostrar los archivos q vamos -->
                    <script src="/js/fileUploader.js"></script>


                    <div class="container-label">
                        <label for="oficioId">Oficio:</label>
                        <select id="oficioId" name="oficioId">
                            <option selected disabled>Seleccioná un oficio</option>
                            <% oficios.forEach(oficio => { %>
                                <option value="<%= oficio.idOficio %>"><%= oficio.nombre %></option>
                            <% }) %>
                        </select> 
                    </div>
               

                <button type="submit">Publicar</button>
            </form>

        </div>
    </div>
</main>
<%- include('../partials/_footer'); %>
