.nombre-filtro{
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-style: normal;
    text-align: center;
    margin-top: 10px;
}

.container-filtro-posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    background-color: #FFFF;
    border-radius: 10px;
    padding: 25px 10px;
 
}


.post-filtro{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.498);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px
    
}

.post-filtro:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.798);
}
.nombre-perfil-post{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    flex-direction: column;
}

.nombre-perfil-post .nombre-post{
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    text-transform: capitalize;
   
    text-decoration: none;
    color: black;
}

.nombre-post:hover{
    font-size: 1.3rem;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.localidad-post{
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-size: 0.5rem;
    font-style: normal;
    text-align: center;
    text-transform: capitalize;
    color: rgb(91, 91, 91);
}
.link-post{
    text-decoration: none;
    width: 100%;
    height: 100%;
}


.datos-post{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.container-foto-post{
    width: 50%;
}
.container-foto-post img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.container-datos-post{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 10px;
    height: 100%;
}

.container-datos-post p{
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-size: 1rem;
    font-style: normal;
    text-align: left;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}