.container-principal{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
 
    align-items: center;
    justify-content: center;
}

.container-nombre-form{
    width: 50%;
    padding-left: 40px;
    position: relative;
    display: inline-block;
    background-color: #d9d9d9;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.container-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 100%;
}

.nombre-form {
    font-size: 4.5em; /* Tamaño del texto */
    font-family: "Montserrat", system-ui;
    font-weight: 300; /* Grosor del texto */
    color: $naranja;

    /*color: transparent; /* Para ocultar el color del texto base */
    /*background: linear-gradient(190deg, white 50%, $naranja 50%); /* Gradiente diagonal */
    background-clip: text;
    -webkit-background-clip: text; /* Compatibilidad con navegadores WebKit */
    text-transform: uppercase;
  
    padding-top: 10px;
    letter-spacing: 5px;
   
}

.abajo{
    margin-left: 150px;
    margin-top: 20px;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 100%;
    
}

.container-label{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10px;

}
.container-label label{
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    text-transform: capitalize;
    font-stretch: expanded;
    font-weight: 500;
    margin-bottom: 5px;
    color: white;
    letter-spacing: 1px;
}
.container-label input{
    width: 100%;
    height: 40px;
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    color: $naranja;
}
.container-label input:focus{
    outline: none;
    border: 1px solid $naranja;
}
.formulario button{
    width: 80%;
    height: 40px;
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.formulario button:hover{
    background-color: #f0f0f0;
}

