.nombre-perfil{
    font-family: "Montserrat", system-ui;
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    text-align: left;
    margin: 20px 10px;
    text-transform: capitalize;
}
.container-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b5b5b5;
    padding: 10px;
    height: fit-content;
}
.container-perfil img{
    width: 150px;
    height: 150px;
    border: solid 3px white;
    border-radius: 50%;
    margin-top: -30px;
}
.container-perfil p{
    font-family: "Montserrat", system-ui;
    font-size: 15px;
    color: #000000;
    margin-top: 5px;
    text-transform: capitalize;
}
.boton-contactar{
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-family: "Montserrat", system-ui;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500;
    padding: 10px;
    border: solid 1px white;
}

.boton-contactar:hover{
    background-color: #FFC107;
    color: white;
    transition: 0.5s;
    border: none;
}


a.update{
    text-decoration: none;
    color: #FFC107;
    font-family: "Montserrat", system-ui;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    text-align: right;
    height: 50px;
    
    float: right;
  
   
}

a.update:hover{
    color: #f4dbdb;
    background-color:#FFC107;
    color:rgba(61, 54, 47, 0.911) ;
    width: 100%;
    transition: 0.5s;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



a.boton-reseña{
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", system-ui;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    height: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
a.boton-reseña:hover{
    transition: 0.5s ease;
    background-color: rgba(61, 54, 47, 0.82);
    padding: 10px;
}
.container-general{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    height:fit-content;
    justify-content: space-around;
    
}

.container-rd{
    display: flex;
    flex-direction: column;
    width: 40%;   
}

.container-datos{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #FFFF;
    box-shadow: #0000007b;
    padding: 10px;
    height: fit-content;
}
.container-datos p{
    font-family: "Montserrat", system-ui;
    font-size: 15px;
    color: #000000;
    text-align: left;
    
}
.borde{
    margin: 1rem 0;
    border-top: 1px dashed #bebebe;
    border-bottom: 1px dashed #bebebe;
    padding: 10px 0;
}
.descripcion{
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-size: 5px;
    font-style: normal;
    padding-top: 5px;
    text-indent: 2%;
}

.contenido-reseña{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #FFFF;
    border-radius: 10px;
    box-shadow: #0000007b;
    padding: 10px;
    margin-top: 10px;
}
.contenido-reseña p{
    font-family: "Montserrat", system-ui;
    font-size: 15px;
    color: #000000;
    text-align: left;
    margin-top: 5px;
    text-transform: capitalize;
}
.container-post-perfil{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: max-contentç;
    background-color: #FFC107;
    border-radius: 10px;
    box-shadow: #0000007b;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.contenido-post{
    height: 80%;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
}
.contenido-post a img{
    width: 400px;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
}
.contenido-post p{
    font-family: "Montserrat", system-ui;
    font-size: 15px;
    color: #000000;
    text-align: left;
    margin-top: 5px;
    text-transform: capitalize;
}
img.botonDelete{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.star-rating{
    padding: 10px 0;
}