.nombre-perfil{
    font-family: "Montserrat", system-ui;
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    text-align: left;
    margin: 20px 10px 20px 10px;
    text-transform: capitalize;
}
.container-perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9c9c9c;
    padding: 20px;
    height: fit-content;
}
.container-perfil img{
    width: 150px;
    height: 150px;
    border: solid 3px white;
    border-radius: 50%;
}
.container-perfil p{
    font-family: "Montserrat", system-ui;
    font-size: 15px;
    color: #000000;
    margin-top: 5px;
    text-transform: capitalize;
}
.boton-contactar{
    margin-top: 20px;
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", system-ui;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    border: solid 1px #000000;
}

.boton-contactar:hover{
    background-color: #000000;
    color: #f4dbdb;
    transition: 0.5s;
}


a.update{
    text-decoration: none;
    color: #f4dbdb;
    font-family: "Montserrat", system-ui;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    height: 50px;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    padding-left: 10px;
   
}

a.update:hover{
    color: #f4dbdb;
    background-color: rgba(61, 54, 47, 0.82);
    width: 110%;
    transition: 0.5s;
    padding-right: 50px;

}



a.boton-reseña{
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", system-ui;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a.boton-reseña:hover{
    transition: 0.5s ease;
    background-color: rgba(61, 54, 47, 0.82);
    padding: 10px;
}
.container-general{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    height:fit-content;
    justify-content: space-around;
    
}

.container-rd{
    display: flex;
    flex-direction: column;
    width: 40%;   
}

.container-datos{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #FFFF;
    box-shadow: #0000007b;
    padding: 10px;
    height: fit-content;
}
.container-datos p{
    font-family: "Montserrat", system-ui;
    font-size: 15px;
    color: #000000;
    text-align: left;
    
}
.borde{
    margin: 1rem 0;
    border-top: 1px dashed #bebebe;
    border-bottom: 1px dashed #bebebe;
    padding: 10px 0;
}
.descripcion{
    font-family: "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-size: 5px;
    font-style: normal;
    padding-top: 5px;
    text-indent: 2%;
}
.container-post-perfil{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: max-contentç;
    background-color: #FFFF;
    border-radius: 10px;
    box-shadow: #0000007b;
    padding: 10px;
    
}
.contenido-reseña{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #FFFF;
    border-radius: 10px;
    box-shadow: #0000007b;
    padding: 10px;
    margin-top: 10px;
}
.contenido-post{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenido-post img{
    width: 100px;
    height: 100px;
}
