@use 'sass:color';

@include tablet {
    .contenedor-posts {
        @include grid(3, 2rem);
        padding-top: 2rem;
    }
}

.post {
    background-color: color.scale($gris, $lightness: 5%);
    border: 1px solid color.scale($gris, $lightness: -10%); 
    margin-bottom: 2rem;
    width: 90%;
    margin: 0 auto;

    .contenido-post {
        padding: 2rem;
    }

    h3, p {
        margin: 0;
    }

    a {
        @include boton($grisOscuro, inline-block);
    }
}
