<%- include('partials/_header.ejs'); %>

<script type="module">
    import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";

    const socket = io();

    const form = document.getElementById('form')
    const input = document.getElementById('input')
    const messages = document.getElementById('messages')

    socket.on('chat message', (msg) => {
        const item = `<li>${msg}</li>`; // Agregar las comillas correctamente
        messages.insertAdjacentHTML('beforeend', item);
    });

    form.addEventListener('submit', (e) => {
        e.preventDefault()

        if(input.value) {
            socket.emit('chat message', input.value)
            input.value = ''
        }
    })
</script>

<body>
    <section id="chat">
        <ul id="messages"></ul>
        <form id="form">
            <input type="text" name="message" id="input" placeholder="Type a message" autocomplete="off">
            <button type="submit">Enviar</button>
        </form>
    </section>

</body>

<%- include('partials/_footer.ejs'); %>