<%- include('partials/_header.ejs'); %>
<main>
    <div class="container-inicio">
        <div class="inicio">
            <h1>La calidad del servicio, 
                <br>
                valorada por clientes como vos.</h1>
        </div>
    </div>

    <div class="container-ccv">
        <div>
            <img src="/img/chatea.png">
            <h3>Chateá</h3>
            <p>Conversa en tiempo real con profesionales, resuelve tus dudas y recibe asesoramiento personalizado.</p>
        </div>
        <div>
            <img src="/img/contrata.png">
            <h3>Contratá</h3>
            <p>Elige al experto que necesitas, acuerda los detalles y asegura el mejor servicio sin complicaciones.</p>
        </div>
        <div>
            <img src="/img/valora.png">
            <h3>Valorá</h3>
            <p>Comparte tu experiencia y ayuda a otros usuarios a encontrar los mejores profesionales.</p>
        </div>
    </div>
    

</main>

<script>// script.js
    window.addEventListener('scroll', () => {
      const scrollY = window.scrollY;
      const inicio = document.querySelector('.inicio');
      
      // Reduce la opacidad de .inicio al hacer scroll
      const opacityValue = Math.max(1 - scrollY / 200, 0); // Ajusta el divisor para controlar la velocidad de desvanecimiento
      inicio.style.opacity = opacityValue;
    });
</script>
<%- include('partials/_footer'); %>